.profile__activity {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 490px) {
  .profile__activity {
    font-size: 14px;
    line-height: 17px;
  }
}
